#dinner-navbar {
	padding-right: 60px;
}

	#dinner-navbar li {
		display: inline-block;
		text-transform: uppercase;
		font-family: Arial, sans-serif;
		letter-spacing: 2px;
		line-height: 42px;
		font-size: 11px;
		float: right;
	}

		#dinner-navbar li a {
			color: black;
			border-top: 4px solid white;
			border-bottom: 4px solid white;
		}

			#dinner-navbar li a:hover, #dinner-navbar li a:focus {
				text-decoration: none;
				background-color: white;
				color: #5CE6B8;
				border-top: 4px solid #5CE6B8;
			}

.navbar-toggle .icon-bar {
	background-color: #5CE6B8;
}

#top img {
	height: 52px;
	float: left;
	margin-top: 8px;
	padding-left: 60px;
}

#freaking-food {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/Background-Image.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
}

	#freaking-food p {
		color: white;
		text-align: center;
		padding-top: 20px;
		font-family: Georgia, serif;
		letter-spacing: 1.2px;
		line-height: 1;
	}


#find-food {
	background-color: white;
	padding: 12px;
	width: 55%;
	margin-top: -80px;
}

	#find-food .form-group, #find-food label {
		color: black;
		font-family: Georgia, serif;
		font-weight: 100;
		font-size: 12px;
	}

		#find-food input {
			border-radius: 0;
			font-family: Arial, sans-serif;
			color: black;
			letter-spacing: 1.2px;
			font-size: 12px;
		}

			#find-food .btn {
				padding: 10px 24px;
				font-size: 16px;
			}

.btn {
	background-color: #E68A2E;
	color: white;
	text-transform: uppercase;
	border: 0;
	border-radius: 0;
	letter-spacing: 2px;
	display: block;
	margin: 0 auto;
	padding: 8px 16px;
}

	button.btn.btn-default:hover {
		background-color: #5CE6B8;
		color: white;
		transition: .4s ease-out;
	}

		button#submit {
			margin-left: 0;
			margin-bottom: 16px;
		}

.form-group.col-md-4 {
	margin-top: 12px;
	margin-bottom: 22px;
}

select#hangry-opts {
	border-radius: 0px;
	font-family: Arial, sans-serif;
	letter-spacing: 1.2px;
	background: transparent;
  	-webkit-appearance: none;
  	color: black;
  	font-size: 12px;
  	background: url("images/arrow.png") right no-repeat;
  	background-size: 22px;
  	overflow: hidden;
}

div#line-break hr {
width: 8%;
display: block;
margin: 50px auto 30px auto;
border-top: 1px solid black;
}

h1.headliner {
	color: #5CE6B8;
	display: block;
	text-transform: uppercase;
	margin-top: 0;
}

#join-mmd {
	margin-bottom: 25px;
}

	#join-mmd h1.headliner {
		text-align: center;
	}

		#join-mmd span {
			font-size: 34px;
			color: black;
			padding: 4px 8px;
			margin: 2px;
			border: 1px solid #B2B2B2;
		}

			#join-mmd #lastNum {
				border: 1px solid #5CE6B8;
			}

#counter {
	padding-left: 0;
	vertical-align: bottom;
	color: #5CE6B8;
}

#notSubtle {
	color: #B2B2B2;
	letter-spacing: 3px;
	padding-left: 20px;
}

#testimonials {
	width: 80%;
	margin-bottom: 50px
}

	#testimonials img {
		width: 100%;
		display: block;
		margin: auto;
	}

.carousel-indicators li {
	float: right;
}

.carousel-caption {
    height: 100%;
    padding: 30px;
    right: 0;
    top: 0;
    width: 50%;
    background: orange;
    opacity: .7;
    left: 50%;
}

#favorites {
	margin: 0 auto;
}

	#favorites h1.headliner {
		text-align: center;
	}

.container {
	padding-right: 0;
	padding-left: 0;
}

#fav-imgs {
	width: 100%;
	padding: 0;
}

	#fav-imgs .thumbnail {
		position: relative;
		border: 0;
		margin-bottom: 16px
	}

		.thumbnail a>img, .thumbnail>img {
			width: 100%
		}

			#fav-imgs .thumbnail:hover .hover-stuff {
				opacity: 1;
				transition: 1s ease-out;
			}
/*
#fav-imgs .thumbnail img {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	background-color: black;
	opacity: .8;
}

.thumbnail img:hover {
	opacity: 1;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	transition: 1s ease-out;
} 
*/

.hover-stuff {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 24px;
	letter-spacing: 3px;
	opacity: 0;
}

	.hover-stuff button {
		background-color: inherit;
		border: 2px solid #5CE6B8;
		border-radius: 0;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 14px;
		padding: 4px 14px;
	}

#what {
	background-color: #5CE6B8;
}

	#what h3 {
		color: white;
		letter-spacing: 3px;
		padding-top: 12px;
		font-size: 28px;
	}

		#what p {
			font-size: 16px;
			width: 75%;
			margin-bottom: 20px;
			padding-top: 10px;
		}

			#what #four-icons img {
				height: 60px;
				padding-right: 4px;
				padding-bottom: 20px;
			}

				#what #phone {
					height: 280px;
					display: block;
					margin: 25px auto 0 auto;
					padding: 0;
				}

#get-food {
	padding: 20px 30px 20px 60px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

	#get-food h2 {
		font-family: Georgia, serif;
		letter-spacing: 1.2px;
	}

		#get-food ul {
			padding-left: 0px;
		}

			#get-food li {
			border-bottom: 1px solid white;
			padding-bottom: 8px;
			padding-top: 8px;
			font-size: 10px;
			list-style: none;
			letter-spacing: 1.5px;
			}

				#get-food h2, #get-food li a {
					color: white;
				}

#onion-bowl {
	background-image: url('images/onions.png');
	background-repeat: round;
	margin: 40px 0;
	padding: 0px;
}

#icon-section {
	margin-top: 40px;
	background-color: #5CE6B8;
	text-align: center;
}

	#icon-section img {
		height: 75px;
		padding: 18px 6px;
	}

#contact-us .form-control {
	color: #5CE6B8;
	letter-spacing: 2px;
	border-radius: 0;
	border-color: black;
	font-size: 12px;
}

#map-canvas { 
	height: 292px; 
	margin: 0; 
	padding: 0;
}
/*
#contact-us {
	padding-left: 0;
}

	#contact-us .form-group {
		padding-left: 0;
		margin-bottom: 22px;
	}

		#contact-us .form-control {
			color: #5CE6B8;
			letter-spacing: 2px;
			border-radius: 0;
			border-color: black;
			font-size: 12px;
		}
*/
#ingr-one::-webkit-input-placeholder, #ingr-two::-webkit-input-placeholder, #inputFirstName::-webkit-input-placeholder, #inputLastName::-webkit-input-placeholder, #inputPhoneNumber::-webkit-input-placeholder, #inputEmail::-webkit-input-placeholder, #inputMessage::-webkit-input-placeholder {
    color: black;
}

#ingr-one:-moz-placeholder, #ingr-two:-moz-placeholder, #inputFirstName:-moz-placeholder, #inputLastName:-moz-placeholder, #inputPhoneNumber:-moz-placeholder, #inputEmail:-moz-placeholder, #inputMessage:-moz-placeholder {
   color: black;
   opacity:  1;
}

#ingr-one::-moz-placeholder, #ingr-two::-moz-placeholder, #inputFirstName::-moz-placeholder, #inputLastName::-moz-placeholder, #inputPhoneNumber::-moz-placeholder, #inputEmail::-moz-placeholder, #inputMessage::-moz-placeholder {
   color: black;
   opacity:  1;
}

#ingr-one:-ms-input-placeholder, #ingr-two:-ms-input-placeholder, #inputFirstName:-ms-input-placeholder, #inputLastName:-ms-input-placeholder, #inputPhoneNumber:-ms-input-placeholder, #inputEmail:-ms-input-placeholder, #inputMessage:-ms-input-placeholder { 
   color:    black;
}

footer {
	background-color: #333333;
	color: white
}

	footer p.text-uppercase {
		margin-bottom: 0;
		padding: 16px;
		text-align: center;
		font-size: 9px;
		letter-spacing: 1.2px
	}




@media (max-width: 480px) {
   
   .container { 
        width: 95%;
   }

   #counter, #notSubtle {
   	padding-left: 0;
   	text-align: center;
   }

   h1.headliner {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
        letter-spacing: 2px;
   }

   #contact-map {
        width: 95%;
   }

   #contact-us {
        padding-right: 0;
        padding-left: 0;

   }

   #contact-us .form-group {
        padding-right: 0;
        padding-left: 0;
   }

   #icon-section img {
        height: 65px;
   }

   #get-food li, #get-food h2 {
        text-align: center;
   }

   #what h3 {
        font-size: 18px;
        letter-spacing: 2px;
        text-align: center;
   }

   #what p {
        font-size: 12px;
        margin: auto;
        text-align: center;
        width: 100%
   } 

   #four-icons {
        text-align: center;
        padding-top: 10px;
   }

   #what {
		width: 95%;
		padding-left: 0px;
	}

   #what #four-icons img {
        height: 50px;
   }

   #what #phone {
        margin: 0px auto 0 auto;
   }

   #favorites {
   		width: 100%;
   }

   #favorites.h1.headliner {
		margin-bottom: 0px;
	}

	#fav-imgs {
		width: 95%;
		margin-bottom: 5px;
	}

   #fav-imgs .thumbnail {
   	height: 130px;
   	overflow: hidden;
   	width: 100%;
   }
   
   img.img-class.burger {
        margin-top: -10%;
   }

   img.img-class.coffee {
        margin-top: -150%;
   }

   img.img-class.cone {
   		margin-top: -20%;
   }

   img.img-class.garlic {
   		margin-top: -20%;
   }

   .hover-stuff {
        top: 30%;
        font-size: 18px;
   }

   #join-mmd {
   	width: 95%;
   }

   #notSubtle {
   	font-size: 16px;
   }

   #freaking-food p.text-uppercase {
			font-size: 20px;
			letter-spacing: 2px;
			line-height: 1.2;
			font-family: Arial, sans-serif;
	}


}

@media (max-width: 768px) {
		/*#fav-imgs .thumbnail {
		   	height: 280px;
		   	overflow: hidden;
		   	width: 95%;
		   	margin: auto;
		   	float: none !important;
		   }*/

		#what {
			width: 95%;
		}

		#what h3, #what p {
			text-align: center;
			width: 80%;
			margin: auto;
		}

		#four-icons {
	        text-align: center;
	        padding-top: 10px;
   		}
	}

@media (min-width: 768px) {
	
	#freaking-food p.text-uppercase {
			font-size: 36px;
			letter-spacing: 3px;
			line-height: 1.2;
			font-family: Arial, sans-serif;
	}

	h1.headliner {
		text-align: left;
		margin-bottom: 30px;
		font-size: 28px;
		letter-spacing: 3px;
	}

	#join-mmd {
		width: 80%;
	}

	#notSubtle {
		font-size: 20px;
	}

	#favorites {
		width: 80%;
	}

	#favorites.h1.headliner {
		margin-bottom: 40px;
	}
	
	#fav-imgs {
		margin-bottom: 15px;
	}

	#what {
		width: 80%;
		padding-left: 25px;
	}

	#contact-map {
		padding: 0;
		width: 80%;
	}

	#contact-us {
		padding-left: 0;
	}

	#contact-us .form-group {
		margin-bottom: 20px;
        padding-right: 20px;
        padding-left: 0;
	}

}
